<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <title>Nu ng Restaurant Angular Refactor</title>
  </head>
  <body>
    <h1>Nu ng Restaurant Angular Refactor</h1>
    <div ng-controller="chezTablesController">
    <input type="text" ng-model="tableNameBinder" id="tableName" value="" placeholder='table name'>
    <!-- <select ng-capacity='selectedCapacity' ng-model="kittyfoo"> -->
    <select ng-model="capacityIn">
      <option ng-repeat='x in capacity' value='{{x.capacity}}'>{{x.capacity}}</option>
    </select>
    <button ng-click="createTable()">Get Input</button>
      <ul>
        <li ng-repeat='record in allTables'>Table {{record.name}}:  Capacity: {{record.capacity}}  <select ng-model="statusIn"><option ng-repeat='x in status' value='{{ x.status}}'>{{ x.status}} </li>
      </ul>
  </div>
  </body>
</html>
